  <footer>
    <hr>
    <p><a href="{{ site.repo_url}}/blob/{{ site.repo_branch }}/{{ page.repo }}">Éditer</a> – <a href="{{ site.repo_url}}/issues/new">Discuter</a> – <a href="/1-a-propos/a-propos">À propos</a> – <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/ ">CC BY-NC-SA</a> - <a href="https://github.com/etxetxe/DNSEP_Report_EESI_2020/wiki/Sommaire">Fork</a> - <a href="https://bifurcation.etxetxe.fr/recherche/index.html">Recherche</a></p>
  </footer>

</section>

<script>
document.getElementById("open-nav").addEventListener("click", function () {
document.body.classList.toggle("nav-open");
});
</script>

</body>
</html>
