---
layout: microtypo
---
<!DOCTYPE html>
{% include head.html %}
<body>
{% include header.html %}

		<section class="main">
			<div class="page-header">
				<h2>{% if page.category %}{{ page.category }}{% else %}{{ site.title }}{% endif %}</h2>
				<h3>{{ page.title }}</h3>
			</div>
			<article class="content">
				{{ content }}
				{% if page.partiep_link %}
				<div class="prev" title="Partie précédente" rel="prev">
					<a href="{{site.baseurl}}{{page.partiep_link}}">← Partie précédente</a>
				</div>{% else %}{% endif %}
				{% if page.parties_link %}
				<div class="next" title="Partie suivante" rel="next">
					<a href="{{site.baseurl}}{{page.parties_link}}">Partie suivante →</a>
				</div>{% else %}{% endif %}
			</article>
{% include footer.html %}
