---
layout: microtypo
---
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://gmpg.org/xfn/11" rel="profile">
		<meta name="generator" content="Jekyll https://jekyllrb.com/">
		<meta name="description" content="{{ site.description }}" />
		<meta name="keywords" content="art numérique, édition numérique" />
    <title>{{ page.title }} – {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/print.css">
		<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/touch-icon.png" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

		<script src="/scripts/orderedList.js" type="text/javascript"></script>
	  <script>
	    // waiting for the before everything hook for that one
	    window.onload = function () {
	      noteNumbering();

	      /* render pagedjs after a first render in the browser (need to calculate the computed line-height and font-metrics */
	      setTimeout(pagedjs, 3000);
	      setTimeout(addingNumToOl, 20000);

	    }
	    // after the layout, add the start property to each ol element
	    addingNumToOl();

	  </script>
	</head>
<body>
	<section class="first-pages">
  	<section class="cover-book">
			<section class="cover">
				<img class="cover-logo" src="/images/EESI_logo-rougePDF.png">
				<h1>Bifurcation :</h1>
				<h2>Carnet de recherche digressif et interactif</h2>
				<h3>Etienne Baron</h3>
				<p>DNSEP5 <strong>École Européenne Supérieure de l'Image</strong></p>
				<p>Sous la direction de <strong>Frédéric Curien</strong> et de <strong>Désirée Laurenz</strong>.</p>
				<p>en cours -{{ site.version}}</p>
			<div class="break"></div>
			</section>
			<section class="resume">
				<h1>Résumé</h1>
				<p>{{ site.resume }}</p>
				<p><strong>Mots-clés :</strong> {{ site.mots-cles }}</p>
				<h1>Abstract</h1>
				<p>{{ site.abstract }}</p>
				<p><strong>Keywords :</strong> {{ site.keywords }}</p>
			</section>
			<div class="break"></div>
			<section class="merci">
				<h1>Remerciements</h1>
				<p>Je remercie Frédéric Curien et Désirée Lorenz pour avoir accepté la co-direction de ce mémoire, et pour m'avoir apporté des retours précieux, rapides, exigeants et enthousiasmants.</p>
				<p></p>
				<p></p>
				<p>Merci à Julie Stæbler pour sa patience, son acharnement et sa fougue.</p>
				<p></p>
			</section>
			<section class="toc">
	    <h1>Sommaire</h1>
			<nav>
				<ul>
					<li class="toc-1">
						<a href="#n0">Introduction : D'une digression à l'autre ...</a>
					</li>
					<li class="toc-1">
						<a href="#n1">1. Espace de la Bifurcation</a>
					</li>
					<li class="toc-2">
						<a href="#n1-0">1.0 Introduction</a>
					</li>
					<li class="toc-2">
						<a href="#n1-1">1.1. La carte : dimension heuristique de la bifurcation</a>
					</li>
					<li class="toc-2">
						<a href="#n1-2">1.2. Logique et sémantique de la bifurcation</a>
					</li>
					<li class="toc-1">
						<a href="#n1">2. Questionner le paradigme de la singularité</a>
					</li>
					<li class="toc-2">
						<a href="#n2-0">2.0 Introduction</a>
					</li>
					<li class="toc-2">
						<a href="#n2-1">2.1. État et passage au sein d'une bifurcation</a>
					</li>
					<li class="toc-2">
						<a href="#n2-2">2.2. Détour sans détour, paradoxe de la singularité</a>
					</li>
					<li class="toc-1">
						<a href="#n1">3. Être différent mais relié</a>
					</li>
					<li class="toc-2">
						<a href="#n3-0">3.0 Introduction</a>
					</li>
					<li class="toc-2">
						<a href="#n3-1">3.1. Complexe et décentralisation</a>
					</li>
					<li class="toc-2">
						<a href="#n3-2">3.2. Comment ne pas suivre le chemin</a>
					</li>
					<li class="toc-1">
						<a href="#n-c">Conclusion : ... Pour finir par une bifurcation</a>
					</li>
					<li class="toc-1">
						<a href="#n-n">Notes</a>
					</li>
					<li class="toc-1">
						<a href="#n-a">Annexes</a>
					</li>
					<li class="toc-2">
						<a href="#n-a-1">Lexique</a>
					</li>
					<li class="toc-2">
						<a href="#n-a-2">Bibliographie</a>
					</li>
				</ul>
			</nav>
  		</section>
		</section>
	</section>
  <article class="content">
    {{ content }}
  </article>
</body>
</html>
